h1 {
    display: inline-block;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: green;
    border-style: groove;
    border-color: aqua;
    border-width: auto;
    background-color: orange;
    background-size: auto;
}


h2 {
    display: inline-block;
    height: 50px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: tomato;
    border-style: ridge;
    border-color: blue;
    border-width: auto;
    background-color: burlywood;
}

h3 {
    display:inline-block;
    height: 5%;
    font-family:"Cominc Sans MS", "Comic Sans", cursive;
    color: black;
    border-style: hidden;
    border-color:antiquewhite;
    border-width: auto;
    background-color: azure;

}